<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
 <!-- 顶部开始 -->
    <div class="container">
        <div class="logo"><a href="{% url 'main' %}">全球生鲜卖家管理后台</a></div>
        <div class="left_open">
            <i title="展开左侧栏" class="iconfont">&#xe699;</i>
        </div>
        <ul class="layui-nav right" lay-filter="">
          <li class="layui-nav-item">
            <a href="javascript:;">{{ request.session.username }}</a>
            <dl class="layui-nav-child"> <!-- 二级菜单 -->
              <dd><a href="{% url 'loginout' %}">退出</a></dd>
            </dl>
          </li>
          <li class="layui-nav-item to-index"><a href="{% url 'web:index' %}">前台首页</a></li>
        </ul>

    </div>
    <!-- 顶部结束 -->
</body>
</html>